extends layout

block content
  span Estos son los resultados:
  div.contenedorMain
    div.containerItems
      if cobayos
        for cobayito in cobayos
          figure
            img.miniFoto(src=cobayito.imagen)
            figcaption
              .sect1
                label.titulo Color: 
                label.resultado=cobayito.color
              .sect2
                label.titulo Pelo: 
                label.resultado=cobayito.pelo
              .actionBtns
                  if(cobayito.fav)
                    i(class="fas fa-heart favState" data-id=cobayito.id)
                  else
                    i(class="fas fa-heart" data-id=cobayito.nombre)
                  button(type='button' href='/ficha/'+cobayito.id) Detalle
    div.numContenedor  
        each pagina in paginas
          a(href='/'+color+'/'+pelo+'/'+edad+'/'+pagina class="numero")=pagina