extends layout

block content
  h1 Bienvenidos a PetLove
  h5 Para encontrar tu cobayo ideal a la izquierda de la pantalla tienes la busqueda.
  h1 Favoritos:
   if (arrayFavs.length>0)
    each favorito in arrayFavs
      a(class="favCss" href="/index/ficha/"+favorito)= fav
