doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/modalStyle.css')
  body
    aside
      form#uploadForm(action='/' method='post')
        
        h1 Cobayos para todos los gustos:

        label(for="color") Color:
        select(name='color')
          option(value='monocolor' ) Monocolor
          option(value='bicolor') Bicolor
          option(value='multicolor') Multicolor
        
        label(for="pelo") Pelo:
        select(name='pelo')
          option(value='corto') Corto
          option(value='largo') Largo
          option(value='calvo') Calvo
        
        label(for="edad") Edad:
        select(name='edad')
          option(value='comodin') Comodin
          option(value='bebe') Cachorro
          option(value='joven') Joven
          option(value='adulto') Adulto
        
        input(id="keepBtn" type="submit" value="Filtrar")
    main
      block content

    script(type='text/javascript' src='/js/Jquery.js')
    script(type='text/javascript' src='/js/modal.js')