body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
}

a {
  color: #00B7FF;
}

aside{
  width:30%;

}

main{
  width: 70%;
}

form{
  display: flex;
  flex-direction: column
}

select{
  width:10em;
  text-align: center;
  padding: 0.5em;
  margin:0.25em 0 1em 3em;
}

input{
  width: 10em;
  padding: 0.25em;
  margin:2em 0 0 8em;
}

figure{
  width: 200px;
  background-color: lavenderblush;
  padding: 0.5em;

}

label{
  margin: 0.25em;
}

i, button{
  cursor: pointer;
  color:dimgrey ;
}

.contenedorMain{
  display: flex;
  flex-direction: column;
}

.containerItems{
  display: flex;
  flex-direction: row;
}

.resultado{
  text-transform: capitalize;
}

.miniFoto{
  width: 200px;
  height: 200px;
}

.titulo{
  font-weight: bold;
}

.actionBtns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0 0.2em 0;
}

.sect1, .sect2{
  height: 1.5em;
}

.favCss{
  color:#0092cc;
}

.favState {
	color:red;
}

.numContenedor{
  display:flex;
	justify-content:center;
}

.numero{
  width:30px;
	height:30px;
	border-radius: 10px;
	margin:15px 5px;
	display:flex;
	justify-content:center;
	align-items:center;
}